body {
  font-family: "Courier New", Courier, monospace, Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px auto;
  color: black;
}

nav {
  background-color: rgb(124, 124, 137);
  color: aliceblue;
  font-family: "Roboto Condensed", sans-serif;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  font-weight: 600;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 1em 2em;
  margin-right: 2em;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  display: block;
  width: 100%;
  color: chocolate;
  text-transform: uppercase;
}

section {
  margin-top: 20px;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.section-home {
  margin-top: 90px;
}

p {
  margin: 0 auto;
  padding: 5px 10px;
}

.background-1 {
  background-color: #eee6ff;
}

.background-2 {
  background-color: rgb(258, 246, 246);
}

.div-alternative-color-form {
  background-color: #eee6ff;
  height: 990px;
}

h1 {
  margin-bottom: 30px;
}

.aboutme-text-content {
  padding: 0px 60px;
}

.resume-text-align {
  text-align: left;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-box {
  box-sizing: border-box;
  width: 45%;
  padding: 20px;
  color: darkslategrey;
  font-size: 1.5em;
  border: whitesmoke 1px solid;
  border-radius: 5px;
  background-color: white;
}

.p-project-box {
  font-size: 0.6em;
  color: midnightblue;
}

.form-label {
  color: rgb(258, 246, 246);
  text-align: left;
}

.image-border {
  margin-top: 20px;
  border-radius: 15vmax;
  border: 0.5px solid red;
}

.message-container {
  display: none;
}

.error-message {
  font-weight: bold;
  margin-top: 10px;
}

.success-message {
  margin-top: 10px;
}

/*  Media Queries  - Responsive Design */
@media (max-width: 414px) {
  nav ul li {
    /* display: inline-block; */
    padding: 1em 0.3em;
    margin-right: 0.1em;
    list-style-type: none;
  }

  .section-home {
    margin-top: 75px;
  }

  .resume-text-align {
    text-align: center;
  }

  .project-box {
    font-size: 1em;
  }
}

@media (min-width: 415px) and (max-width: 780px) {
  nav ul li {
    padding: 1em 0.5em;
    margin-right: 0.3em;
  }

  .section-home {
    margin-top: 100px;
  }

  .div-alternative-color-aboutme {
    background-color: rgb(258, 246, 246);
    height: 460px;
  }

  .div-alternative-color-resume {
    background-color: #eee6ff;
    height: 560px;
  }

  .div-alternative-color-projects {
    background-color: rgb(258, 246, 246);
    height: 560px;
  }

  .resume-text-align {
    text-align: center;
  }

  .main-container {
    margin-top: -20px;
  }
}

@media (min-width: 781px) {
  .main-container {
    margin-top: -15px;
  }
}
