body {
  /* background-color: rgb(258, 246, 246); */
  /* background-color: lavenderblush; */
  font-family: "Courier New", Courier, monospace, Arial, Helvetica, sans-serif;
  /* font-family: "Roboto Condensed", sans-serif; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* color: black; */
  text-align: center;
  margin: 0px auto;
  color: black;
  /* font-weight: 600; */
  /* background-color: #eee6ff;  don't remove this color*/
}

nav {
  background-color: rgb(124, 124, 137);
  color: aliceblue;
  font-family: "Roboto Condensed", sans-serif;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  font-weight: 600;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 1em 2em;
  margin-right: 2em;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  display: block;
  width: 100%;
  color: chocolate;
  text-transform: uppercase;
}

/* 
div {
  margin: 0px, auto;
} */

section {
  /* padding: 1em; */
  margin-top: 20px;
  /* height: 200px; */
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 30px;
  border-radius: 10px;
}

.section-home {
  margin-top: 90px;
  /* margin-top: 120px;  */
  /* --padding: ; */
}

p {
  /* font-weight: 600; */
  margin: 0 auto;
  padding: 5px 10px;
}

/* .div-main {
  margin: 0px auto;
} */

.nav-barposition {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(124, 124, 137);
  color: aliceblue;
  height: 180px;
  /* width: 100%; */
}

.background-1 {
  background-color: #eee6ff;
}

.background-2 {
  background-color: rgb(258, 246, 246);
}

.div-alternative-color-home {
  /* background-color: lavenderblush; */
  background-color: #eee6ff;
  /* display: inline-block; */
  height: 360px;
}

.div-alternative-color-aboutme {
  /* background-color: lavenderblush; */
  background-color: rgb(258, 246, 246);
  /* display: inline-block; */
  height: 390px;
}

.div-alternative-color-resume {
  /* background-color: lavenderblush; */
  background-color: #eee6ff;
  /* display: inline-block; */
  height: 500px;
}

.div-alternative-color-projects {
  /* background-color: lavenderblush; */
  background-color: rgb(258, 246, 246);
  /* display: inline-block; */
  height: 590px;
}

.div-alternative-color-form {
  /* background-color: lavenderblush; */
  background-color: #eee6ff;
  /* display: inline-block; */
  height: 750px;
}

.div-alternative-color2 {
  /* background-color: lavenderblush; */
  background-color: rgb(258, 246, 246);
  /* display: inline-block; */
  height: 500px;
}

h1 {
  margin-bottom: 30px;
  /* padding: 80px;  */
}

.h1-home {
  /* padding: 20px 20px 10px 20px; */
}

.aboutme-text-content {
  padding: 0px 60px;
  /* text-align: justify; */
}

.resume-text-align {
  text-align: left;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* height: 160px; */
}

.project-box {
  box-sizing: border-box;
  /* display: inline-block; */
  width: 45%;
  /* height: 400px; */
  /* margin: 5px; */
  padding: 20px;
  /* background-color: purple; */
  color: darkslategrey;
  font-size: 1.5em;
  border: whitesmoke 1px solid;
  border-radius: 5px;
  /* border-left-color: rosybrown;
  border-right-color: rosybrown; */
  background-color: white;
}

.p-project-box {
  font-size: 0.6em;
  color: midnightblue;
}

.form-label {
  color: rgb(258, 246, 246);
  text-align: left;
}

.imgborder {
  margin-top: 20px;
  border-radius: 15vmax;
  border: 0.5px solid red;
}

/*  Media Queries  - Responsive Design */
@media (max-width: 414px) {
  nav {
    /* height: 220px; */
    /* text-align: left; */
  }

  /* nav ul li {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
  } */

  nav ul li {
    /* display: inline-block; */
    padding: 1em 0.5em;
    margin-right: 0.3em;
    list-style-type: none;
  }

  /* section {
    padding-top: 20px;
  } */

  /* .nav-barposition { */
  /* height: 220px; */
  /* width: 100%; */
  /* } */

  .section-home {
    margin-top: 75px;
    /* margin-top: 215px; */
    /* background-color: #eee6ff; */
    /* height: 340px; */
    /* --padding: ; */
  }

  .div-alternative-color-home1 {
    /* background-color: lavenderblush; */
    background-color: #eee6ff;
    /* display: inline-block; */
    height: 340px;
  }

  .div-alternative-color-aboutme {
    /* background-color: lavenderblush; */
    background-color: rgb(258, 246, 246);
    /* display: inline-block; */
    height: 500px;
  }

  .div-alternative-color-resume {
    /* background-color: lavenderblush; */
    background-color: #eee6ff;
    /* display: inline-block; */
    height: 570px;
  }

  .div-alternative-color-projects {
    /* background-color: lavenderblush; */
    background-color: rgb(258, 246, 246);
    /* display: inline-block; */
    height: 630px;
  }

  .resume-text-align {
    text-align: center;
  }

  .project-box {
    /* box-sizing: border-box; */
    /* display: inline-block; */
    /* width: 45%;
    height: 510px;
    margin: 5px;
    padding: 5px; */
    /* background-color: purple; */
    /* color: darkslategrey;
    font-size: 1.2em;
    border: dotted;
    border-left-color: rosybrown;
    border-right-color: rosybrown;
    background-color: white; */
  }
}
/* .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 760px;
  } */
/* } */

/* .form-label-input-alignment {
  
} */
/* .container-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 250px);
  background-color: #eee6ff;
  border: 1px solid black;
} */

@media (min-width: 415px) and (max-width: 780px) {
  nav ul li {
    /* display: inline-block; */
    padding: 1em 0.5em;
    margin-right: 0.3em;
    /* list-style-type: none; */
  }

  /* .nav-barposition { */
  /* height: 80px; */
  /* width: 100%; */
  /* } */

  .section-home {
    margin-top: 100px;
    /* --padding: ; */
  }

  .div-alternative-color-aboutme {
    /* background-color: lavenderblush; */
    background-color: rgb(258, 246, 246);
    /* display: inline-block; */
    height: 460px;
  }

  .div-alternative-color-resume {
    /* background-color: lavenderblush; */
    background-color: #eee6ff;
    /* display: inline-block; */
    height: 560px;
  }

  .div-alternative-color-projects {
    /* background-color: lavenderblush; */
    background-color: rgb(258, 246, 246);
    /* display: inline-block; */
    height: 560px;
  }

  .resume-text-align {
    text-align: center;
  }

  .project-box {
    /* box-sizing: border-box; */
    /* display: inline-block; */
    /* width: 45%;
    height: 450px;
    margin: 5px;
    padding: 5px; */
    /* background-color: purple; */
    /* color: darkslategrey;
    font-size: 1.2em;
    border: dotted;
    border-left-color: rosybrown;
    border-right-color: rosybrown;
    background-color: white; */
  }

  .main-container {
    margin-top: -30px;
  }

  .main-container {
    margin-top: -20px;
  }
}

/* @media (min-width: 1024px) {
  body {
    color: red;
  }
} */

@media (min-width: 781px) {
  /* body {
    color: blue;
  } */
  /* section {
    padding-top: 60px;
  } */
  .main-container {
    margin-top: -15px;
  }
}
